/* Code source:
 * http://bootsnipp.com/snippets/featured/responsive-sidebar-menu
 */

body,html{
  height: 100%;
}

/* remove outer padding */
.main .row{
  padding: 0px;
  margin: 0px;
}

/*Remove rounded coners*/

nav.sidebar.navbar {
  border-radius: 0px;
}

/*Allow main to be next to Nav*/
.main{
  position: absolute;
  width: calc(100% - 40px); /*keeps 100% minus nav size*/
  float: right;
}

/*Center Brand*/
nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 0px;
}
/*Center Brand*/
nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
  text-align: center;
  width: 100%;
  margin-left: 0px;
}

/*Center Icons*/
nav.sidebar a{
  padding-right: 13px;
}

/*adds border top to first nav box */
nav.sidebar .navbar-nav > li:first-child{
  border-top: 1px #e5e5e5 solid;
}

/*adds border to bottom nav boxes*/
nav.sidebar .navbar-nav > li{
  border-bottom: 1px #e5e5e5 solid;
}

/* Colors/style dropdown box*/
nav.sidebar .navbar-nav .open .dropdown-menu {
  position: static;
  float: none;
  width: auto;
  margin-top: 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*allows nav box to use 100% width*/
nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
  padding: 0 0px 0 0px;
}

/*colors dropdown box text */
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
  color: #777;
}

/*gives sidebar width/height*/
nav.sidebar{
  width: 200px;
  height: 100%;
  margin-left: -160px;
  float: left;
  z-index: 8000;
  margin-bottom: 0px;
}

/*give sidebar 100% width;*/
nav.sidebar li {
  width: 100%;
}

/*for hiden things when navbar hidden*/
.forAnimate{
  opacity: 0;
}

/*Allow main to be next to Nav*/
.main{
  width: calc(100% - 200px); /*keeps 100% minus nav size*/
  margin-left: 180px;
}

/*Show all nav*/
nav.sidebar{
  margin-left: 0px;
  float: left;
}

section{
  padding-left: 15px;
}